<h1>All Articles</h1>
<table>
    <%= link_to 'New Article', new_article_path %> 
    <tr>
        <th>Title</th>
    </tr>
    <% @articles.each do |article| %>
    <ul>
        <li>
            <%= link_to article.title, article_path(article) %><br/>
        </li>
    </ul>
        <tr>
            <%= link_to 'Edit', edit_article_path(article) %>
        </tr>
        <tr>
            <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }%><br>
        </tr>
        <% end %> 
    
</table>


 
  
